body {
  background-image: url("https://images.wallpaperscraft.com/image/clouds_veil_from_above_mountains_lake_look_road_62360_1920x1080.jpg");
  background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-img-top{
  width:20%;
}
.content{
  height: auto;
  width: auto;
  text-align: center;
  margin: 50px auto;
}
.content h3{
  font-family: cursive;
}
.section{
  margin-top: 30px;
}

.newsbox::-webkit-scrollbar{
  display: none;
}
.section .row{
  margin: auto;
  display: inline;
  align-items: center;
}
.content .section .row textarea{
  resize: none;
  margin-left: 15px;
  padding-left: 10px;
}
.content .section .row input{
  height: 50px;
  width: 250px;
  padding-left: 10px;
  border-radius: 5px;
  vertical-align: middle;
  margin-bottom: 30px;
  border: 1px solid black;
  font-size: 16px;
}
.content .section .row .glyphicon{
  vertical-align: middle;
  margin-left: 15px;
  height: 55px;
  width: 20px;
  font-size: 18px;
}
.glyphicon-trash{
  color: red;
}
.btn{
  text-align: right;
  margin-bottom: 40px;
  margin-top: 7px;
}
.content .card {
  width:100%;
  max-width: 18rem;
  display: inline-flex!important;
  margin: 30px 10px;
}